body {
	width: 100%;
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.top-bar {
	width: 100%;
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99;
	backdrop-filter: blur(2px);
	background-color: rgba(255, 255, 255, 0);
	/* color: white; */
}

.top-bar ul {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	color: white;
	list-style-position: inside;
}

.brand {
	font-weight: 800;
}

.list-group {
	display: flex;
	flex-direction: row;
	margin-right: 1em;
	justify-content: space-around;
}

.list-item {
	color: white;
	text-decoration: none;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-right: 40px;
}

#nav-bg {
	background-color: rgb(54, 194, 61);
	top: 0;
	left: 0;
	position: relative;
}

#bg-text {
	padding: 20px;
	color:rgb(255, 255, 255);
}

@media (max-height: 700px) {
	.container {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		height: 600px;
	}
}

@media (min-height: 701px) {
	.container {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		height: 900px;
	}
}

#about {
	background-color: black;
	width: 100%;
}

#about .text {
	font-family: 'Courier New', monospace;
	font-size: 1.5em;
	font-weight: 700;
	color: white;
	text-align: center;
	width: 100%;
}

#projects {
	height: 700px;
	text-align: center;
	background-image: linear-gradient(45deg, red, blue);
	position: relative;
	left: 0;
	/* margin-right: auto; */
	margin-left: -1;
	width: 100%;
}