body {
	width: 100%;
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;
	font-family: 'Courier New', monospace;
	background-image: linear-gradient(45deg, red, blue);
	background-repeat: no-repeat;
}

.top-bar {
	width: 100%;
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99;
	backdrop-filter: blur(2px);
	-webkit-backdrop-filter: blur(2px);
	background-color: rgba(255, 255, 255, .8);
}

.top-bar ul {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	color: black;
	list-style-position: inside;
}

.brand {
	font-weight: 900;
	font-size: larger;
}

.title {
	display: block;
	border-radius: 10px;
	margin: 10px;
	position: relative;
	left: 0;
	padding: 20px;
}

.text {
	display: block;
	font-size: 1.5em;
	font-weight: 700;
	text-align: center;
	width: 100%;
	position: relative;
    /*top: 50%;
    transform: translateY(-50%);*/
}

.container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.proj {
	border-radius: 10px;
}

@media (max-width: 400px) {
	.proj {
		width: 90%;
	}
}

/* PROJECTS */
#projects {
	background-color: white;
	color: black;
}


#map {
	height: 400px;
	/* The height is 400 pixels */
	width: 40%;
	/* The width is the width of the web page */
  }
  