body {
	width: 100%;
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;
	font-family: 'Courier New', monospace;
}

.top-bar {
	width: 100%;
	display: block flex;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99;
	backdrop-filter: blur(2px);
	-webkit-backdrop-filter: blur(2px);
	background-color: rgba(217, 217, 217, 0.8);
	justify-content: center;
}

.brand {
	font-weight: 900;
	font-size: larger;
	padding: 10px;
}

.title {
	display: block;
	border-radius: 10px;
	margin: 10px;
	position: relative;
	left: 0;
	padding: 20px;
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}

#projects {
	background-color: white;
	color: black;
}

.text {
	display: block;
	font-size: 1.5em;
	font-weight: 700;
	text-align: center;
	width: 100%;
	position: relative;
    /*top: 50%;
    transform: translateY(-50%);*/
}

.container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.proj {
	border-radius: 10px;
	border-color:white;
	border-width: 2px;
	text-align: center;
}

@media (max-width: 400px) {
	.proj {
		width: 90%;
	}
	#map {
		height: 300px;
		width: 100%;
	}
	#forms-col {
		display: block flex;
		width: 100%;
	}
}

@media (min-width: 401px) {
	.proj {
		width: 200px;
	}
	#map {
		height: 400px;
		width: 60%;
	}
	#forms-col {
		display: block flex;
		width: 39%;
		background-color: aqua;
	}
}
  
.map-rows {
	display: block flex;
	flex-direction: row;
}